/* YITH POINTS */
.ywpar_apply_discounts {
	background-color: #e5d7d1;
	padding: 12px;
	border-radius: 8px;
	/* 	max-width: 600px;
	display: flex !important;
	flex-wrap: wrap;
	gap: 8px; */

	input#ywpar-points-max {
		padding: 4px;
	}

	button {
		background-color: #201f1f;
		color: white;
		padding-block: 8px;
		padding-inline: 12px;
		border: 1px #201f1f solid;
		transition-duration: 300ms;
		display: block !important;
		margin-top: 8px;

		&:hover {
			background-color: white;
			color: #201f1f;
		}
	}

	.input-text {
		border-radius: 6px;
	}
}

.type-product.product .yith-par-message-variation,
.type-product.product .yith-par-message {
	padding: 16px;
	font-size: 16px;
}

.ywpar_myaccount_entry_info {
	.ywpar_entry_info_title,
	.ywpar_to_redeem_title,
	.ywpar_total_collected_title {
		display: none !important;
	}

	.ywpar_summary_badge {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.points_collected {
		font-weight: 500;
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&::before {
			content: "";
			display: block;
			width: 2.25rem;
			height: 2.25rem;
			background-image: url("https://trendynailslithuania.com/wp-content/plugins/yith-woocommerce-points-and-rewards-premium/assets/images/badge.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
