/* -------------------------------------- Body */

body {
	@apply bg-background text-foreground font-sans;
}

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.notification-banner-shadow {
	box-shadow: 0px 0px 5.7px rgba(0, 0, 0, 0.07);
}

/* Radius */
.round-5 {
	border-radius: 5px;
}

.round-7 {
	border-radius: 7px;
}

.round-9 {
	border-radius: 9px;
}

.round-10 {
	border-radius: 10px;
}

.round-12 {
	border-radius: 12px;
}

.round-15 {
	border-radius: 15px;
}

/* Buttons */
.white-button-white-text {
	@apply bg-transparent text-white uppercase body-small-medium round-9 border-[0.7px] border-mid-gray;
	transition: background-color 0.2s ease;
}

.white-button-white-text:hover {
	@apply text-deep-dark-gray bg-white;
}

.white-button-black-text {
	@apply bg-transparent text-deep-dark-gray uppercase body-small-medium round-9 border-[0.7px] border-mid-gray;
	transition: background-color 0.2s ease;
}

.white-button-black-text:hover {
	@apply bg-deep-dark-gray text-white;
}

.black-button {
	@apply bg-deep-dark-gray text-white uppercase body-small-medium round-9 border-[0.7px] border-deep-dark-gray;
	transition: background-color 0.2s ease;
}

.black-button:hover {
	@apply bg-transparent text-deep-dark-gray;
}

/* Shop icons */

.shop-heart-icon:hover svg path {
	@apply fill-deep-dark-gray;
}

.add-item-icon {
	@apply transition-colors duration-300 ease-in-out;
}

.add-item-icon:hover {
	@apply bg-[#1c1c1c];
}

.add-item-icon svg path {
	@apply transition-colors duration-100 ease-in-out;
}

.add-item-icon:hover svg path {
	@apply fill-white;
}

/* ---------------------------------- Swiper */
/* Product swiper */
.product-nav-button-next,
.product-nav-button-prev {
	@apply absolute top-1/2 transform -translate-y-1/2 w-[2.4375rem] h-[2.4375rem] flex items-center justify-center bg-white rounded-full;
}

.product-nav-button-next svg,
.product-nav-button-prev svg {
	@apply w-2 h-2;
}

.product-nav-button-prev {
	@apply left-[-1.21875rem] z-20;
}

.product-nav-button-next {
	@apply right-[-1.21875rem] z-20;
}

.swiper-container .swiper-wrapper {
	@apply h-auto;
}

/* Instagram gallery swiper */

.instagram-gallery-swiper {
	@apply flex w-full overflow-hidden;
}

.swiper-wrapper {
	@apply flex;
}

.swiper-slide {
	@apply w-auto flex-shrink-0;
}

#single-product-page .swiper-wrapper,
#single-product-page .swiper-slide,
#single-product-page .product-gallery-swiper {
	height: auto;
}

#instagram-section .swiper-slide:hover .instagram-image-overlay {
	opacity: 1;
}

.instagram-image-overlay {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
/* --------------------------------- About Section Mouse Hover */

.mouse-hover-overlay:hover {
	cursor: none;
}

.custom-cursor {
	@apply leading-[1.1rem] text-[0.875rem] fixed top-0 left-0 flex items-center justify-center pointer-events-none z-[1000] text-center rounded-full text-deep-dark-gray;
	border: 0.5px solid #201f1f;
	font-weight: normal;
	background-color: transparent;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0); /* Initial scale set to 0 */
	transition: opacity 0.2s ease;
	width: 7rem;
	height: 7rem;
}

.mouse-hover-overlay:hover .custom-cursor {
	opacity: 1;
}

/* --------------------------------- Single product */

#single-product-gallery-swiper-pagination {
	bottom: 0;
	left: 0;
}

#single-product-gallery-swiper-pagination .swiper-pagination-bullet {
	@apply bg-mid-gray m-0 inline-block;
}

#single-product-gallery-swiper-pagination .swiper-pagination-bullet-active {
	@apply bg-deep-dark-gray;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.quantity-input {
	-moz-appearance: textfield;
}

/* --------------------------------- Sidebar */

/* Fix sidebar position according to wpadminbar */
body.admin-bar #shop-sidebar,
body.admin-bar #cart-sidebar {
	padding-bottom: 32px;
}

@media screen and (max-width: 782px) {
	body.admin-bar #shop-sidebar,
	body.admin-bar #cart-sidebar {
		padding-bottom: 46px;
	}
}

/* Left shop menu sidebar */

#sidebar-close-link span {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
#sidebar-close-link span::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	border-radius: 5px;
	height: 0.05em;
	bottom: 0;
	left: 0;
	background: currentcolor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
#sidebar-close-link .toggle-underline::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Right cart sidebar */

/* ----------------------------------- Footer */
footer {
	margin-top: auto;
}

/* Animations */
.menu-icon-rotate {
	transition: transform 0.3s ease;
}

.menu-icon-flipped {
	transform: rotate(180deg);
}

.menu-icon-flipped-90 {
	transform: rotate(90deg);
}

.single-post-content img {
	@apply round-15 w-full aspect-[663/434] object-cover object-center my-2;
}

/* Contact form */

.custom-my-account .woocommerce .input-text,
.wpcf7-text,
.form-input {
	@apply w-full p-3 round-9 border border-mid-gray body-small-light text-deep-dark-gray placeholder:text-mid-gray placeholder:font-light;
}

.wpcf7-textarea {
	@apply w-full min-h-32 max-h-72 p-3 round-9 border border-mid-gray body-small-light text-deep-dark-gray;
}

.wpcf7-form {
	@apply grid grid-cols-2 gap-4 md:gap-2.5;
}

.wpcf7-list-item {
	@apply m-0;
}

.wpcf7-submit {
	@apply black-button py-4 px-24 round-9 body-small-medium col-span-3 md:order-2 md:w-full md:px-0 cursor-pointer;
}

.contact-form-footer p {
	@apply md:w-full md:order-2 relative;
}

.wpcf7-spinner {
	@apply mx-2;
}

.wpcf7-response-output,
.wpcf7-spinner,
.wpcf7-not-valid-tip {
	@apply hidden;
}

.wpcf7-form-control {
	@apply placeholder:text-deep-dark-gray placeholder:font-light placeholder:text-[0.875rem];
}

/* Social buttons */

.nsl-container {
	@apply w-full;
}

#customer_login div.nsl-container.nsl-container-block .nsl-container-buttons {
	@apply w-full p-0;
}

.woocommerce-form .nsl-container .nsl-container-buttons a {
	@apply w-full m-0;
}

/* My account */

.custom-my-account .woocommerce {
	@apply grid grid-cols-12 gap-4 max-w-[87.5rem] mx-auto w-full mb-28 body-normal-regular text-deep-dark-gray;
}

.woocommerce-MyAccount-content {
	@apply col-span-9 mt-10 md:mt-2 mr-12 md:mr-4 lg:col-span-8 md:col-span-7 sm:col-span-6;
}

/* My account */

.custom-my-account .woocommerce .form-row {
	@apply mb-2;
}

.custom-my-account .woocommerce .form-row label {
	@apply block mb-1 body-small-regular;
}

.custom-my-account .woocommerce-notices-wrapper {
	@apply mb-4;
}
