/* -------------------------------------- Body */

body {
	@apply bg-background text-foreground font-sans;
}

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.round-9 {
	border-radius: 9px;
}

.round-10 {
	border-radius: 10px;
}

/* --------------------------------- Sidebar */

#sidebar-close-link span {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
#sidebar-close-link span::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	border-radius: 5px;
	height: 0.05em;
	bottom: 0;
	left: 0;
	background: currentcolor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
#sidebar-close-link .toggle-underline::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Fix sidebar position according to wpadminbar */
body.admin-bar #shop-sidebar {
	padding-bottom: 32px;
}

@media screen and (max-width: 782px) {
	body.admin-bar #shop-sidebar {
		padding-bottom: 46px;
	}
}

/* ----------------------------------- Footer */
footer {
	margin-top: auto;
}

/* Animations */
.menu-icon-rotate {
	transition: transform 0.3s ease;
}

.menu-icon-flipped {
	transform: rotate(180deg);
}

.menu-icon-flipped-90 {
	transform: rotate(90deg);
}
