/* -------------------------------------- Body */

body {
	@apply bg-background text-foreground font-sans;
}

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* --------------------------------- Sidebar */

#sidebar-close-link span {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
#sidebar-close-link span::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	border-radius: 5px;
	height: 0.05em;
	bottom: 0;
	left: 0;
	background: currentcolor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
#sidebar-close-link .toggle-underline::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* ----------------------------------- Footer */
footer {
	margin-top: auto;
}

/* Animations */
.menu-icon-rotate {
	transition: transform 0.3s ease;
}

.menu-icon-flipped {
	transform: rotate(180deg);
}
