.heading-xl {
	@apply font-medium text-[2.5rem] leading-[3rem] font-sans;
}

.heading-lg {
	@apply font-medium text-[2.25rem] leading-[2.75rem] font-sans;
}

.heading-md {
	@apply font-medium text-[1.625rem] leading-[2.125rem] font-sans;
}

.heading-sm {
	@apply font-medium text-[1.125rem] leading-[1.375rem] font-sans;
}

.body-normal-regular {
	@apply font-normal text-[1rem] leading-[1.25rem] font-sans;
}

.body-normal-medium {
	@apply font-normal text-[1rem] leading-[1.25rem] font-sans;
}

.body-normal-semibold {
	@apply font-semibold text-[1rem] leading-[1.25rem] font-sans;
}

.body-small-regular {
	@apply font-normal text-[0.875rem] leading-[1.125rem] font-sans;
}

.body-small-light {
	@apply font-light text-[0.875rem] leading-[1.125rem] font-sans;
}

.body-small-semibold {
	@apply font-semibold text-[0.875rem] leading-[1.125rem] font-sans;
}

.body-extra-small {
	@apply font-normal text-[0.75rem] leading-[1rem] font-sans;
}

.body-extra-small-light {
	@apply font-light text-[10px] leading-[20px] font-sans;
}

.link-hover {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.link-hover::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	border-radius: 5px;
	height: 0.05em;
	bottom: 0;
	left: 0;
	background: currentcolor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.link-hover:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
